<div class="card">
    <img src="{{imgLink}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title"><strong>{{name}}</strong></h5>
        <p class="card-text overflow-auto">{{details}}</p>
        <a data-id={{id}} href="#" class="saveBtn btn btn-primary">Save</a>
    </div>
</div>
