<div class="card bg-info" style="width: 15rem;">
    <img src="{{imgLink}}" class="card-img-top" alt="{{name}}">
    <div id={{id}} class="card-body">
        <h5 class="card-title"><strong>{{name}}</strong></h5>
        <p class="card-text overflow-auto currentNote">{{note.text}}</p>
        <a data-id={{id}} href="#" class="addNoteBtn btn btn-primary">Make Note</a>
    </div>
</div>
<br>
